$light: #eaecef;
$dark: #575656;
$primary: #e00198;

$bg-color-dark: #4f5255f8;
$bg: transparent;

$fg: #eaecef;
$fg-on: #eaecef;

:root {
	--fg: #eaecef;
	--fg-on: #eaecefbe;
	--bg-color: transparent;
	--color: #{$dark};
	--primary: #{$primary};
	--primary-on: #fff;
}
